#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 0.5;
  }

body { 
    opacity: 1;
    transition: opacity .8s;
 }

.center {
    width: 90%;
    height: 300px;
    text-align: center;
    color: rgb(0, 11, 77);
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.stuff {
   background-color: rgb(228, 228, 228);
   height: 327px;
   margin: 0 0 0 0;
   padding: 10px;
}

.stuff-text {
    background-color: rgb(228, 228, 228);
    height: 327px;
    width: 450px;
    margin: 0 0 0 0;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: medium;
}

 .bio-text {
    font-size: x-large;
 }

 #name {
     font-size: 3em;
     text-align: center;
 }

 #header {
     margin-top: 10px;
 }

 #test {
    text-align: center;
}

.subtext {
    margin: 5px;
    text-align: center;
}

i {
    size: large;
    color: rgb(70, 70, 70);
}

#bottom {
    margin-bottom: 60px;
}

#label {
    font-size: 1.5em;
    color: rgb(70, 70, 70);
}

#profile-pic {
    width: 50%
}

#front {
    font-size: 5em;
}

#next {
    font-size: 1.8em;
}